#container{
    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
    text-align: center;
}
.container-sm{
    width: 100%;
    border-radius: 5px;
}
#input{
    border-top: 2px grey solid;
    border-left: 2px grey solid;

}
#text{
    font-weight: bold;
}

#container {
    max-width: 40%
}
.body-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px){
    #container {
        max-width: 90%
    }
}
